/.idea/*

###> symfony/framework-bundle ###
/.env
*.dist
/public/bundles/
/var/
/vendor/
/bin/
*.phar
*.lock
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
