{% extends 'base.html.twig' %}

{% block title %}Three buttons homework{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-1">
            <input type="button" id="1" value="0" class="btn red"/></div>
        <div class="col-sm-1">
            <input type="button" id="2" value="0" class="btn blue"/>
        </div>
        <div class="col-sm-1">
            <input type="button" id="3" value="0" class="btn green"/>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('input').on('click', function (e) {
                e.preventDefault();
                let id = $(this).attr('id');
                let count = $(this).attr('value');
                count++;
                $(this).attr('value', count);
                $.ajax({
                    url: "/click_button",
                    data: {
                        button_id: id
                    },
                    method: 'POST',
                    dataType: 'json',
                    success: function () {
                        alert(id)
                    }
                });
            });
        });
    </script>
{% endblock %}